
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",  sans-serif;
 
}

header .line {
  background-color: #186b4f;
  height: 10px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header--left img{
width: 64px;
height: 64px;
}

.header--right {
  display: flex;
  align-items: center;
}

.header--search form {
display: flex;

}

.header--search input {
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid #999;
  outline: 0;
  width: 100%;
  max-width: 220px;
}

.header--search button {
  border: 0;
  background: transparent;
  margin-left: -25px;
  cursor: pointer;
}

.header--search button img {
  width: 16px;
  height: 16px;
}

.header--menu {
  margin-left: 70px;
  cursor: pointer;
}

.header--menu img {
  width: 24px;
  height: 24px;
}