* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Ariel, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}
header {
  height: 100px;
  background-color: #000;
}

.header {
  max-width: 1300px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logoImg {
  width: 80px;
  height: 80px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 6px solid #000;
}

.menu li a:hover,
.menu .active a {
  border-bottom: 6px solid #b28756;
  color: #ccc;
}

.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner h1 span {
  color: #b28756;
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}

.button {
  display: inline-block;
  background-color: #b28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
}

.banner a {
  display: block;
  background-color: #b28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
}

.banner .sliders-pointer {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.default {
  max-width: 1300px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section-title {
  font-size: 20px;
}

.default .section-desc {
  font-size: 12px;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
}

.default .section-body {
  max-width: 1300px;
  margin: auto;
}

.default.light {
  background-color: #f7f7f7;
}

.default.light .section-title {
  color: #000;
}

.default.light .section-title,
.default.light .section-body {
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
  color: #fff;
}

/* 
CSS DE ÁREAS ESPECIFICAS
*/

.section-aboutus {
  display: flex;
}

.section-aboutus--left {
  flex: 1;
}

.section-aboutus--left p {
  font-size: 14px;
  line-height: 25px;
}

.section-aboutus--rigth {
  width: 520px;
  text-align: center;
}

.section-aboutus--rigth img {
  width: 480px;
  box-shadow: 0px 5px 10px #333;
}

.section-services {
  display: flex;
}

.section-service {
  flex: 1;
  text-align: center;
  border-right: 1px solid #333;
  padding: 15px;
}

.section-service:first-child {
  border-left: 1px solid #333;
}

.section-service h4 {
  margin-top: 2ppx;
  text-transform: uppercase;
  font-size: 20px;
}

.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects--filters {
  border: 1 px solid #ccc;
  background-color: #d5d2d2;
  border-radius: 30px;
  display: inline-block;
  padding: 0px 25px;
}

.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}

.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  field-sizing: 13px;
  border-left: 1px solid #ccc;
  color: #555;
  border-bottom: 3px solid #ccc;
  cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom: 3px solid #b28756;
}

.section-projects--filters li:first-child {
  border-left: 0;
}

.section-projects--photos {
  width: 100vw;
  max-width: 1300px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-projects--photo {
  width: 280px;
}

.section-projects-photoarea {
  position: relative;
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section-projects-photoarea img {
  width: inherit;
  height: inherit;
  display: block;
}

.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}

.section-projects-photoarea:hover .section-projects--photoinfo {
  display: flex; /* Exibir a informação ao passar o mouse */
}

.bg-team {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section-team .sliders {
  width: 1000vw;
  height: 100%;
}

.section-team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}

.section-team .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 30px;
}

.section-team-area .sliders-pointer {
  height: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.section-team-area .pointer.active {
  background-color: #b28756;
}

.section-team--avatar {
  width: 150px;
  height: auto;
}

.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}

.section-team--role {
font-size: 14PX;
color: #999;
margin-top: 5px;
}

.section-team--social {
  margin-top: 20px;
  
}

.section-team--social li {
  display: inline-block;
  margin-right: 10px;
}

.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.section-team--social a:hover {
  background-color: #b28756;
}

.section-team .sliders {
  display: flex;
  transition: transform 0.5s ease;
}

.pointer.active {
  background-color: #b28756;
}