* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #7594d6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  margin: 20px 20px;
}


.label{
display: block;
margin-top: 10px;
}



.input {
  width: 400px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.null {
  display: inline;
}


.btn-add {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 20px;
  background-color: rgb(26, 202, 26);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #45a049;
}


.btn-remove {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 20px;
  background-color: rgb(243, 73, 73);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-remove:hover {
  
  background-color: rgb(192, 35, 35);
}