@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: Ariel, Helvetica, sans-serif;
  list-style: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0px;
  font-family: 'Inter';
  font-size: 18px;
  background-color: #141414;
  color: #fff;
}