.header-bg {
  background-color: var(--cor-10);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu li {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.header-menu li > a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  color: inherit;
}

.header-menu li > a:hover {
  color: var(--cor-p4);
}

.header-menu a {
  display: inline-block;
  padding: 16px 30px;
  position: relative;
}

.header-menu img {
  width: 30px;
  height: 30px;
  transition: fill 0.3s ease;
}

.header-menu li:hover {
  color: var(--cor-p4);
}

.header-menu li:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--cor-p4);
  position: absolute;
  bottom: 4px;
  transition: width 0.5s ease;
  width: 0;
}

.header-menu li:hover::after {
  width: 100%;
}

.header-menu li a:hover img {
  filter: invert(39%) sepia(76%) saturate(278%) hue-rotate(4deg) brightness(98%) contrast(102%); 
}

@media (max-width: 1070px) {
  .header-menu .button {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header-menu {
    gap: 5px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 10px;
  }
  
  .logo {
    margin-bottom: 16px;
    text-align: center;
  }

  .header-menu {
    justify-content: center;
  }
}


/*abre o menu suspenso abaixo de 400px */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--cor-0);
}

@media (max-width: 430px) {
  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  .header-menu {
    display: none; 
    flex-direction: column;
    background: var(--cor-11);
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
  }

  .header-menu.active {
    display: flex; 
  }

  .header-menu li {
    text-align: center;
    width: 100%;
  }

  .header-menu a {
    padding: 10px 20px;
  }
}
