.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu li {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.header-menu li > a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.header-menu li > a:hover {
  color: var(--cor-p1);
}

.header-menu a {
  display: inline-block;
  padding: 16px 30px;
  position: relative;
}

.header-menu img {
  width: 25px;
  height: 25px;
}

.header-menu ul:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  position: absolute;
  margin-top: -4px;
  transition: width 0.3s ease;
}

@media (max-width: 1000px) {
  .header-menu .button {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 5px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 16px;
    text-align: center;
  }

  .header-menu {
    justify-content: center;
  }
}

/*abre o menu suspenso abaixo de 400px */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--cor-0);
}

@media (max-width: 400px) {
  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  .header-menu {
    display: none; 
    flex-direction: column;
    background: var(--cor-11);
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
  }

  .header-menu.active {
    display: flex; 
  }

  .header-menu li {
    text-align: center;
    width: 100%;
  }

  .header-menu a {
    padding: 10px 20px;
  }
}
